@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --body-color: #fff;
    --theme-menu-bg-color: #000;
    --guide-box-bg-color: rgb(0, 0, 0);
    --game-console-bg-color: rgb(83, 107, 185);
    --btn-pad-bg-color: rgb(83, 107, 185);
    --btn-pad-border-color: rgb(70, 93, 165);
    --guess-btn-bg-color: orange;
    --switch-toggle-bg-color: rgb(64, 156, 214);
    --switch-toggle-input-color: black;
    --switch-toggle-input-checked-color: rgb(109, 203, 247);
    --toggle-text-color: yellow;
    --led-color: rgb(122, 0, 0);
    --led-hover-color: rgb(255, 5, 5);
    --body-bg-img: url('./images/nineties-carpet.webp');
}

.theme-one {
    --body-color: #fff;
    --theme-menu-bg-color: #000;
    --guide-box-bg-color: rgb(0, 0, 0);
    --game-console-bg-color: rgb(83, 107, 185);
    --btn-pad-bg-color: rgb(83, 107, 185);
    --btn-pad-border-color: rgb(70, 93, 165);
    --guess-btn-bg-color: orange;
    --switch-toggle-bg-color: rgb(64, 156, 214);
    --switch-toggle-input-color: black;
    --switch-toggle-input-checked-color: rgb(109, 203, 247);
    --toggle-text-color: yellow;
    --led-color: rgb(122, 0, 0);
    --led-hover-color: rgb(255, 5, 5);
    --body-bg-img: url('./images/nineties-carpet.webp');
}

.theme-two {
    --body-color: #fff;
    --theme-menu-bg-color: #000;
    --guide-box-bg-color: rgb(0, 0, 0);
    --game-console-bg-color: rgb(242, 106, 26);
    --btn-pad-bg-color: rgb(242, 107, 26);
    --btn-pad-border-color: rgb(0, 0, 0);
    --guess-btn-bg-color: orange;
    --switch-toggle-bg-color: rgb(0, 0, 0);
    --switch-toggle-input-color: rgb(11, 6, 2);
    --switch-toggle-input-checked-color: rgb(101, 53, 160);
    --toggle-text-color: rgb(182, 109, 46);
    --led-color: rgb(122, 0, 0);
    --led-hover-color: rgb(255, 5, 5);
    --body-bg-img: url('./images/halloween-pic.jpg');
}

body {
    background-image: var(--body-bg-img);
    background-size: cover;
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
}

.menu-wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
}

#theme-menu {
    background-color: var(--theme-menu-bg-color);
    border-radius: 10px;
    border: solid 2px rgb(185, 185, 185);
    text-align: left;
    padding: 12px;
    margin-right: 40px;
    width: auto;
    flex-direction: column;
}

#guide-box {
    background-color: var(--guide-box-bg-color);
    border-radius: 10px;
    border: dashed 2px rgb(185, 185, 185);
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    width: 450px;
    align-items: center;
}

#player-indicator {
    padding-right: 20px;
}

#player-indicator::after {
    content: ':';
}

#game-console {
    background-color: var(--game-console-bg-color);
    width: 680px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 42%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    margin-top: 40px;
}

#henry-btn {
    background-color: transparent;
    border: none;
    margin-bottom: 14px;
}

.row-bar {
    display: flex;
    margin-bottom: 6px;
    width: 27%;
    margin-left: 155px;
    justify-content: space-between;
}

#led {
    width: 25px;
    height: 25px;
    background: var(--led-color);
    border: solid 1px #333;
    border-radius: 50%;
}

#led:hover {
    background-color: var(--led-hover-color);
}

#button-pad {
    background-color: var(--btn-pad-bg-color);
    border: solid var(--btn-pad-border-color) 6px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

.guess-btn {
    background-color: var(--guess-btn-bg-color);
    width: 60px;
    height: 60px;
    border-radius: 10px;
}


#start-btn {
    border: none;
    background-color: transparent;
    margin-top: 12px;
}

#start-btn img {
    width: 200px;
    
}


/* Toggle Switches */

.switch-wrapper {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.switch-toggle {
    display: flex;
    justify-content: space-evenly;
    background: var(--switch-toggle-bg-color);
    border-radius: 50px;
    width: 90px;
    height: 20px;

}

.switch-toggle input {
    position: absolute;
    display: none;
    width: 30%;
}

.switch-toggle input+label {
    padding: 10px;
    float: left;
    color: var(--switch-toggle-input-color);
    cursor: pointer;
}

.switch-toggle input:checked+label {
    background: var(--switch-toggle-input-checked-color);
    border-radius: 50px;
    width: 30px;
    height: 20px;
}

.toggle-text {
    width: 90px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

.toggle-text p {
    width: 100%;
    font-size: 12px;
    color: var(--toggle-text-color);
    padding: 0px 5px;
}



@media screen and (max-width: 800px) {

    body {
        justify-content: start;
        margin-top: 30px;
    }

    #theme-menu {
        font-size: 14px;
        min-width: 125px;
    }
   
    #guide-box {
        font-size: 14px;
        padding: 10px 12px 0px;
        width: 70%;
        align-items:flex-start;
    }

    #player-indicator {
        width: 110px;
        padding-right: 10px;
    }

    #game-console {
        background-color: var(--game-console-bg-color);
        width: 480px;
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row-bar {
        display: flex;
        margin-bottom: 3px;
        width: 28%;
        margin-left: 135px;
        justify-content: space-between;
    }

    #led {
        width: 18px;
        height: 18px;
    }

    #logo img {
        width: 50px;
    }

    #button-pad {
        grid-column-gap: 20px;
        grid-row-gap: 12px;
        padding: 16px;
    }

    .guess-btn {
        width: 46px;
        height: 46px;
    }

    .switch-toggle {
        height: 16px;
        width: 90px;
    }

    .switch-toggle input+label {
        padding: 0;
    }
    
    .switch-toggle input:checked+label {
        width: 40px;
        height: 16px;
    }

    .switch-wrapper {
        justify-content: center;
    }

    .on-off-toggle-wrapper {
        margin-left: 27px;
    }

    .on-off-toggle-wrapper .toggle-text p {
        margin: 8px 6px;
    }

    .game-mode-toggle-wrapper .toggle-text p {
        margin: 8px 0px;
    }

    .toggle-text p {
        font-size: 8px;
    }

    #henry-btn {
        margin-bottom: 5px;
    }

    #start-btn {
        margin-top: 12px;
    }

    #start-btn img {
        width: 125px;
    }
    
    #henry-btn img {
        width: 125px;
    }

}