@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --body-color: #fff;
    --guide-box-bg-color: #000;
    --game-console-bf-color: blue;
    --henry-btn-border-color: rgb(36, 36, 36);
    --henry-btn-color: #9b3052;
    --henry-btn-shadow: #622ea7;
    --henry-btn-bg-color: lightgray;
    --btn-pad-bg-color: mediumblue;
    --btn-pad-border-color: darkblue;
    --guess-btn-bg-color: orange;
    --start-game-color: #9b3052;
    --start-game-bg-color: lightgray;
    --switch-toggle-bg-color: rgb(64, 156, 214);
    --switch-toggle-input-color: black;
    --switch-toggle-input-checked-color: rgb(109, 203, 247);
    --toggle-text-color: yellow;
    
}
body {
    background-image: url('./images/nineties-carpet.webp');
    background-size: cover;
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
}

#guide-box {
    background-color: var(--guide-box-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin-bottom: 5px;
}

#player-indicator {
    padding-right: 20px;
}

#game-console {
    background-color: var(--game-console-bf-color);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#henry-btn {
    padding: 5px 20px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: solid var(--henry-btn-border-color) 2px;
    color: var(--henry-btn-color);
    text-shadow:
        -1px -1px 0 var(--henry-btn-shadow),
        1px -1px 0 var(--henry-btn-shadow),
        -1px 1px 0 var(--henry-btn-shadow),
        1px 1px 0 var(--henry-btn-shadow);
    font: 40px bold;
    background-color: var(--henry-btn-bg-color);
}

#button-pad {
    background-color: var(--btn-pad-bg-color);
    border: solid var(--btn-pad-border-color) 6px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;

}

.guess-btn {
    background-color: var(--guess-btn-bg-color);
    width: 60px;
    height: 60px;
    border-radius: 10px;
}


#start-new-game {
    padding: 18px 50px;
    margin-top: 12px;
    border-radius: 50%;
    color: var(--start-game-color);
    font: 16px bold;
    background-color: var(--start-game-bg-color);
}




/* Toggle Switches */

.switch-wrapper {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.switch-toggle {
    display: flex;
    justify-content: space-evenly;
    background: var(--switch-toggle-bg-color);
    border-radius: 50px;
    width: 90px;
    height: 20px;

}

.switch-toggle input {
    position: absolute;
    display: none;
    width: 30%;
}

.switch-toggle input+label {
    padding: 10px;
    float: left;
    color: var(--switch-toggle-input-color);
    cursor: pointer;
}

.switch-toggle input:checked+label {
    background: var(--switch-toggle-input-checked-color);
    border-radius: 50px;
    width: 30px;
    height: 20px;
}

.toggle-text {
    width: 90px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
}

.toggle-text p {
    width: 100%;
    font-size: 12px;
    color: var(--toggle-text-color);
    padding: 0px 5px;
}

@media screen and (max-width: 600px) {

    .game-console {
        width: 92%;
        height: 500px;
    }

    .button-pad {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .guess-btn {
        width: 50px;
        height: 50px;
    }

    .switch-toggle {
        width: 90px;
    }

    .switch-toggle input:checked+label {
        width: 40px;
    }

    .switch-wrapper {
        justify-content: center;
        
    }

    .on-off-toggle-wrapper {
        margin-left: 27px;
    }

    .on-off-toggle-wrapper .toggle-text p {
        margin: 8px 6px;
    }
    
    .game-mode-toggle-wrapper .toggle-text p {
        margin: 8px 0px;
    }

    .toggle-text p {
        font-size: 10px;
    }

    #henry-btn {
        padding: 5px 20px;
        margin-bottom: 30px;
        border-radius: 50%;
        color: var(--henry-btn-color);
        text-shadow: none;
        font: 28px bold;
        background-color: var(--henry-btn-bg-color);
    }

    #start-new-game {
        padding: 12px 40px;
        border-radius: 50%;
        color: var(--start-game-color);
        font: 12px bold;
        background-color: var(--start-game-bg-color);
    }

}